.dup-body {
    background: #1e50a2;
}
.subscription .primary-btn {
    background: #1e50a2;
    border: 1px solid #1e50a2;
}
.footer-widget-area .overlay-bg {
    background: rgba(30, 80, 162, 0.8);
}
.logo a{
    display: flex;
}
.logo a img {
    width: 100px;
}
.logo a span {
    display: block;
    font-weight: bold;
    color: #333;
    font-size: 1.4rem;
    padding: 24px 10px;
    line-height: 1.8rem;
}
.project_title {
    display: flex;
}
.project_title .no {
    width: 10%;
}
.project_title h1 {
    width: 85%;
    padding-left: 5%;
}
.no {
    padding: 15px 30px 0 0;
}
.no p {
    font-size: 42px;
    font-weight: bold;
    color: #333;
}
.generic-banner.element-banner {
    background: rgba(30, 80, 162, 0.8);
}
.progress-table .serial {
    width: 25%;
}
.progress-table .country {
    width: 25%;
}
.progress-table .visit {
    width: 40%;
}
.progress-table .percentage {
    width: 10%;
}
@media (max-width: 991px) {
    .banner-content h1 br {
        display: inline;
    }
    .banner-content p br {
        display: inline;
    }
    .banner-content h1 {
        font-size: 30px;
    }
    .no {
        padding: 7px 30px 0 0;
    }
    .no p {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    .banner-content {
        margin-top: 150px;
        margin-bottom: 80px;
    }
}
